.String { color: #5f8700; }
.Include { color: #d70000; }
.cOperator { color: #0087af; }
.cRepeat { color: #8700af; }
.cCharacter { color: #5f8700; }
.cType { color: #d70087; }
.cFormat { color: #5f8700; }
.cSpecial { color: #5f8700; }
.cNumber { color: #d75f00; }
.cStorageClass { color: #005f87; }
.Statement { color: #d70087; }
.Comment { color: #878787; }
.cConditional { color: #8700af; }
.Number { color: #d75f00; }
.fortranIntrinsic { color: #005faf; background-color: #eeeeee; padding-bottom: 1px; }
.fortranUnitHeader { color: #005faf; }
.fortranVariableAttribute { color: #d75faf; }
.fortranType { color: #d70087; }
.fortranReadWrite { color: #0087af; }
.fortranOperator { color: #0087af; }
.fortranCall { color: #0087af; }
.fortranContinueMark { color: #008700; }
.Repeat { color: #8700af; }
.Float { color: #d75f00; }
.cConstant { color: #008700; }
.Constant { color: #d75f00; }
.pythonString { color: #5f8700; }
.pythonInclude { color: #d70000; }
.Structure { color: #005faf; }
.pythonConditional { color: #8700af; }
.pythonStatement { color: #d70087; }
.pythonOperator { color: #8700af; }
.pythonExceptions { color: #d70000; }
.pythonBuiltin { color: #0087af; }
.cDefine { color: #005faf; }
.Conditional { color: #8700af; }
.fortranIO { color: #005f87; }
