/*==============================================================*/
/* Common
/*==============================================================*/
body {
  /*background: url(/~akira/img/bg/BG_Hoffman.png);*/
}

ul {
  font-family: 'consolas', '游ゴシック';
}

ul.indexBox {
  background-color: rgba(47,44,38,0.65);
  color: rgba(245,245,245,1.0);
  width: 90%;
  //margin: 0.5% auto;
  margin: 3px auto;
  padding: 2% 2% 2% 4%;
}

ul.contentBox {
  background-color: rgba(47,44,38,0.65);
  color: rgba(245,245,245,1.0);
  width: 92%;
  margin: 0.5% auto;
  padding: 2%;
}

div a {
  color: rgba(245,245,245,1.0);
  text-decoration: none;
}
div a:hover {
  text-decoration: underline;
}
a.colored {
  color: rgba(200,200,255,1.0);
}

div.title {
  font-size: 200%;
  font-weight: bold;
  line-height: 100%;
}

div.route {
  font-size: 125%;
  line-height: 100%;
}

div.index {
  padding: 8px;
  font-size: 150%;
  font-weight: bold;
  font-family: 'consolas', '游ゴシック';
  line-height: 120%;
  border-bottom: solid 2px whitesmoke;
}

table.std {
  margin-top: 10px;
  margin-bottom: -20px;
}
table.std th, td {
  padding: 0px 3px;
}
/*============================================================*/
/* Index page specific
/*============================================================*/
div.parent-contents {
  line-height: 100%;
  font-size: 140%;
  color: rgba(200,200,200,1.0);
  white-space: pre-wrap;
  padding-bottom: 30px;
}

span.fs {
  font-size: 75%;
  color: rgba(255,255,255,1.0);
  vertical-align: top;
}
/*============================================================*/
/* Content page specific
/*============================================================*/
div.contents {
  font-size: 100%;
  line-height: 140%;
  white-space: pre-wrap;
  padding-bottom: 25px;
}

div.ref {
  font-size: 100%;
  line-height: 140%;
  white-space: pre-wrap;
  padding-left: 15px;
  padding-bottom: 5px;
}
/*============================================================*/
/* Inline components
/*============================================================*/
span.index1 {
  font-size: 120%;
  font-weight: bold;
  line-height: 200%;
}

span.index2 {
  font-size: 105%;
  font-weight: bold;
  line-height: 135%;
}

span.word {
  margin-left: 3px;
  margin-right: 3px;
}
span.word-l {
  margin-left: 3px;
}
span.word-r {
  margin-right: 3px;
}

span.var {
  background-color: rgba(47,44,38,0.40);
  font-family: 'consolas', '游ゴシック';
  padding: 0px 2px;
  margin-left: 1px;
  margin-right: 1px;
}
span.var-n {
  background-color: rgba(47,44,38,0.40);
  font-family: 'consolas', '游ゴシック';
  padding: 0px 2px;
  margin-left: 0px;
  margin-right: 0px;
}
span.var-l {
  background-color: rgba(47,44,38,0.40);
  font-family: 'consolas', '游ゴシック';
  padding: 0px 2px;
  margin-left: 1px;
}
span.var-r {
  background-color: rgba(47,44,38,0.40);
  font-family: 'consolas', '游ゴシック';
  padding: 0px 2px;
  margin-right: 1px;
}


span.it {
  font-style: italic;
  margin-left: 3px;
  margin-right: 3px;
}
span.it-l {
  font-style: italic;
  margin-left: 3px;
}
span.it-r {
  font-style: italic;
  margin-right: 3px;
}
span.it-n {
  font-style: italic;
}

span.bld {
  font-weight: bold;
  margin-left: 3px;
  margin-right: 3px;
}
span.bld-l {
  font-weight: bold;
  margin-left: 3px;
}
span.bld-r {
  font-weight: bold;
  margin-right: 3px;
}
span.bld-n {
  font-weight: bold;
}

span.img-title {
  font-size: 100%;
  font-weight: bold;
  line-height: 200%;
}

span.img-description {
  display: block;
  font-size: 100%;
  font-weight: normal;
  line-height: 120%;
  margin-bottom: -12px;
}

span.img-caption {
  display: block;
  font-size: 100%;
  font-weight: normal;
  line-height: 120%;
  margin-bottom: -12px;
}

span.nowrap {
  white-space: nowrap;
}

span.comment {
  color: #878787;
}

span.c-skyblue     {color: skyblue}
span.c-dodgerblue  {color: dodgerblue}
span.c-lightskyblue{color: lightskyblue}
span.c-red         {color: red}
span.c-silver      {color: silver}
span.c-gray        {color: gray}

span.ls-dir {
  color: lightseagreen;
  white-space: nowrap;
}

span.ls-txt {
  color: forestgreen;
  white-space: nowrap;
}

span.ls-ex {
  color: tomato;
  white-space: nowrap;
}
/*============================================================*/
/* iframe
/*============================================================*/
iframe {
  width: 100%;
}
/*============================================================*/
/* img
/*============================================================*/
img {
}
img.std {
  width: 50%;
}
img.thumbnail {
  margin-left: 1%;
}
img.w24 {
  width: 24%;
}
img.w50 {
  width: 50%;
}
img.w100 {
  width: 100%;
  max-width: 96%;
}
img.math25 {
  background-color: white;
  padding: 10px;
  width: 25%;
}
img.math50 {
  background-color: white;
  padding: 10px;
  width: 50%;
}
img.math100 {
  background-color: white;
  padding: 10px;
  max-width: 96%;
  width: 100%;
}
/*============================================================*/
/* MathJax */
/*============================================================*/
div.mathjax {
    overflow-x: auto;
}
/*============================================================*/
/*                                                            
/*============================================================*/
@media screen and (max-width: 800px) {
  ul {
    width: 100%
  }
}
