.pythonString { color: #5f8700; }
.pythonBuiltin { color: #0087af; }
.pythonNumber { color: #d75f00; }
.pythonInclude { color: #d70000; }
.pythonStatement { color: #d70087; }
.pythonOperator { color: #8700af; font-weight: bold; }
.pythonRepeat { color: #8700af; font-weight: bold; }
.pythonComment { color: #878787; }
